
.float-action {
    position: fixed;
    width: 37px;
    height: 37px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #bebfc0;
    right: 15px;
    text-align: center;
    display: inline-block;
    color: #838383;
    padding-top: 6px
}

.back-top {
    display: none;
    bottom: 65px
}

