 .line-clamp--2 {
     overflow: hidden;
     text-overflow: ellipsis;
     -webkit-box-orient: vertical;
     display: -webkit-box;
     -webkit-line-clamp: 2;
 }

 .mobile-flex-vc {
     display: -webkit-box;
     -webkit-box-orient: horizontal;
     -webkit-box-align: start;
 }


 .mobile-flex-horizontal-center {
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-box-align: center;
 }

 .hidden {
     visibility: hidden!important;
 }